<footer class="blue-pink-gradient-bg text-center">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-12 mb-1 d-flex justify-content-center">
                <a href="{% url 'home' %}" class="nav-link nav-text-style float-left">
                    <img id="img-mobile" class="mt-1 mb-2 col-4 mx-auto " src="/static/img/site-logo.png"
                        alt="Shop Logo">
                    <h2 class="h2-style color-white px-2">GRAPHICS DIVINE</h2>
                </a>
            </div>

            <div class="col-lg-6 col-12 my-4 color-white font">
                <h5 class="text-uppercase mb-3">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="#" class="color-white py-1">Portfolio</a>
                    </li>
                    <li>
                        <a href="#" class="color-white py-1">Shop</a>
                    </li>
                    <li>
                        <a href="#" class="color-white py-1">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3 color-white">
        © 2021 Copyright:
        <a class="text-dark color-white" href="#">Graphics Divine</a>
    </div>
</footer>